@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0: #A09F8D;
    --cor1: #C5C5B9;
    --cor2: #E5E1D8;
    --cor3: #31312F;
    --cor4: #E2E3DD;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: var(--cor0);
    color: var(--cor3);
    font-size: 30px;
}
#midias > a >img{
    height: 17px;
    padding: 10px;
}

nav #menu  a{
    text-decoration: none;
    padding: 20px;
    color: var(--cor3);
    font-size: 20px;
    
}

#Principal{
    background-color: var(--cor0);
    
}
#perfil{
    padding: 10px 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 810px;
    
}

#perfil img {
    height: 700px;
    position:absolute;
    left: 1300px;
    top: 40px;
}

#perfil p{
    font-size: 40px;
    width: 700px;
    text-align: left;
    height: 200px;
    align-content: center;
    margin-bottom: 120px;
    color: var(--cor3);
    
}
.destaquetx{
    font-size: 60px;
}

#Sobre_mim{
    padding: 50px;
    justify-items: center;
    background-color: var(--cor1);
}

#Sobre_mim h2 {
    font-size: 50px;
    margin: 30px;
}

#Sobre_mim p {
    border-radius: 20px;
    width: 800px;
    font-size: 20px;
    align-items: center;
    margin: 30px;
    padding: 20px;
    color: var(--cor3);
    background-color: var(--cor1);
}
#projetos{
    height: 970px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px ;
    justify-content: center;
    gap: 40px;
    background-color: var(--cor4);
    
}
#projetos h2{
    font-size: 50px;
    text-align: center;
    padding: 20px;
    width: 9000px;
    margin: 25px;
}
.proj{
    width: 560px;
    height: 300px;
    background-color: var(--cor1);
    text-align: center;
    align-content: center;
}

.proj img{
    width: 560px;
    height: 300px;
}

.descrição{
    width: 500px;
    height: 400px;
    text-align: center;
    align-content: center;
    text-align: justify;
    padding: 30px;
    background-color: var(--cor1);
    margin-bottom: 30px;
}

.descrição p {
    font-size: 18px;
    

}

footer{
    text-align: center;
    font-size: 20px;
    padding: 20px;
    background-color: var(--cor0);
}