@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

nav{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}
#midias > a >img{
    height: 17px;
    padding: 10px;
}

nav #menu  a{
    text-decoration: none;
    padding: 20px;
}

#Principal{
    border: 2px solid black;
    
}
#perfil{
    border: 2px solid red;
    padding: 10px 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 800px;
    
}

#perfil img {
    height: 700px;
    position:absolute;
    left: 1300px;
    top: 40px;
}

#perfil p{
    font-size: 40px;
    width: 700px;
    text-align: left;
    height: 200px;
    align-content: center;
    margin-bottom: 120px;
    
}
.destaquetx{
    font-size: 60px;
}

#Sobre_mim{
    border: 2px solid rebeccapurple;
    padding: 50px;
    justify-items: center;
}

#Sobre_mim h2 {
    font-size: 50px;
}

#Sobre_mim p {
    border: 2px solid green;
    width: 800px;
    font-size: 20px;
    align-items: center;
    margin: 30px;
}
#projetos{
    border: 2px solid blueviolet;
    height: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px;
    justify-content: center;
    gap: 50px;
    
}
.proj{
    border: 2px solid magenta;
    width: 510px;
    height: 300px;
    
    text-align: center;
    align-content: center;
}

.proj img{
    width: 500px;
    border: 2px solid black;
}

.descrição{
    border: 2px solid magenta;
    width: 450px;
    height: 500px;
    text-align: center;
    align-content: center;
    text-align: justify;
    padding: 30px;
}

.descrição p {
    font-size: 18px;

}